In [1]:
# Import dependencies
# To read CSV files and create DataFrames
import pandas as pd

# Create heatmaps
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store CSV into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-01-11 20:04:35,-54.8000,-68.3000,44.60,70,75,9.22
1,1,Barrow,US,2021-01-11 20:06:37,71.2906,-156.7887,1.40,71,90,23.02
2,2,Adrar,MR,2021-01-11 20:06:37,20.5022,-10.0711,60.66,32,100,11.32
3,3,Hofn,IS,2021-01-11 20:06:37,64.2539,-15.2082,24.80,58,0,4.61
4,4,Airai,TL,2021-01-11 20:06:37,-8.9266,125.4092,61.68,100,38,0.83

In [3]:
# Get the data types
# Any data used for mapping must be either an integer or float
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use Google API key
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

# Create the heatmap for the maximum temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure()

# Assign the heatmap variable
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Center heatmap and adjust zoom so that only one map of Earth is shown by modifying gmaps.figure() attribute
# Create the heatmap for the maximum temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Create dissipation by modifying the gmaps.heat_layer() attribute
# Create the heatmap for the maximum temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Create the heatmap for percent humidity
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
humidity = city_data_df["Humidity"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Create the heatmap for percent cloudiness
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
clouds = city_data_df["Cloudiness"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Create the heatmap for wind speed
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
wind = city_data_df["Wind Speed"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximim temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find cities that meet the customer's criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Port-Gentil,GA,2021-01-11 20:06:38,-0.7193,8.7815,80.60,83,20,8.05
11,11,Hithadhoo,MV,2021-01-11 20:06:38,-0.6000,73.0833,80.87,78,58,16.64
12,12,Rikitea,PF,2021-01-11 20:06:38,-23.1203,-134.9692,77.70,78,100,20.02
16,16,Alice Springs,AU,2021-01-11 20:06:38,-23.7000,133.8833,77.00,56,0,5.75
21,21,Vaini,TO,2021-01-11 20:06:38,-21.2000,-175.2000,80.60,89,75,9.22
...,...,...,...,...,...,...,...,...,...,...
584,584,Sao Joaquim,BR,2021-01-11 20:07:24,-28.2939,-49.9317,76.69,65,25,1.74
585,585,Mareeba,AU,2021-01-11 20:07:24,-17.0000,145.4333,75.99,96,99,1.10
586,586,Tamasane,BW,2021-01-11 20:07:25,-22.4184,27.4013,76.30,51,57,10.67
587,587,Tabat,ID,2021-01-11 20:07:25,-2.6350,115.2274,75.15,95,100,1.83
588,588,Kannur,IN,2021-01-11 20:07:25,11.8675,75.3576,76.80,85,100,3.71

In [23]:
preferred_cities_df.count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [26]:
# Create hotel_df to store hotel names, along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
10    Port-Gentil      GA     80.60  -0.7193    8.7815
11      Hithadhoo      MV     80.87  -0.6000   73.0833
12        Rikitea      PF     77.70 -23.1203 -134.9692
16  Alice Springs      AU     77.00 -23.7000  133.8833
21          Vaini      TO     80.60 -21.2000 -175.2000
22     Butaritari      KI     80.82   3.0707  172.7902
23       Ambilobe      MG     75.16 -13.2000   49.0500
31   Bull Savanna      JM     80.13  17.8868  -77.5902
34       Riosucio      CO     77.00   5.4216  -75.7032
35    Barceloneta      PR     82.00  18.4505  -66.5385

In [27]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    # Get latitiude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the coordinates to a location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and coordinates
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get JSON data from search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Port-Gentil,GA,80.60,-0.7193,8.7815,Fengshui Residence
11,Hithadhoo,MV,80.87,-0.6000,73.0833,Scoop Guest House
12,Rikitea,PF,77.70,-23.1203,-134.9692,Pension Maro'i
16,Alice Springs,AU,77.00,-23.7000,133.8833,Desert Palms Alice Springs
21,Vaini,TO,80.60,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...
584,Sao Joaquim,BR,76.69,-28.2939,-49.9317,Pousada Alternativa Cravo e Canela
585,Mareeba,AU,75.99,-17.0000,145.4333,Trinity Plains Tourist Park
586,Tamasane,BW,76.30,-22.4184,27.4013,
587,Tabat,ID,75.15,-2.6350,115.2274,Perumahan PNS Senga Permai
588,Kannur,IN,76.80,11.8675,75.3576,Asokam Beach Resort and Ayurveda Chikitsa Kendram

In [31]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a pop-up marker for each city that displays the hotel name, city, name, country, and maximum temperature
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [34]:
# Add data to the above code by iterating through hotels_df using the iterrows() function
# Then add that information to the gmaps.marker_layer() attribute with the locations
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))