## Deliverable 2. Create a Customer Travel Destinations Map

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,Khatanga,71.9667,102.5000,-50.55,76,50,1.52,RU,2021-01-14 23:46:55,scattered clouds
1,1,Jablanica,43.6603,17.7617,37.40,44,20,14.97,BA,2021-01-14 23:46:55,few clouds
2,2,Iquitos,-3.7481,-73.2472,75.20,94,90,8.05,PE,2021-01-14 23:46:55,moderate rain
3,3,Atuona,-9.8000,-139.0333,77.43,77,18,13.18,PF,2021-01-14 23:46:55,few clouds
4,4,Kunda,25.7167,81.5167,45.05,62,8,2.89,IN,2021-01-14 23:46:55,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
2,2,Iquitos,-3.7481,-73.2472,75.20,94,90,8.05,PE,2021-01-14 23:46:55,moderate rain
3,3,Atuona,-9.8000,-139.0333,77.43,77,18,13.18,PF,2021-01-14 23:46:55,few clouds
5,5,Tutoia,-2.7619,-42.2744,79.99,80,93,14.34,BR,2021-01-14 23:46:56,overcast clouds
6,6,Vao,-22.6667,167.4833,76.86,92,100,11.14,NC,2021-01-14 23:46:56,overcast clouds
12,12,Lorengau,-2.0226,147.2712,85.28,67,100,9.75,PG,2021-01-14 23:46:56,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows
preferred_cities_df.count()

City_ID        197
City           197
Lat            197
Lng            197
Max Temp       197
Humidity       197
Cloudiness     197
Wind Speed     197
Country        196
Date           197
Description    197
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows
clean_cities_df = preferred_cities_df.dropna()
clean_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
2,2,Iquitos,-3.7481,-73.2472,75.20,94,90,8.05,PE,2021-01-14 23:46:55,moderate rain
3,3,Atuona,-9.8000,-139.0333,77.43,77,18,13.18,PF,2021-01-14 23:46:55,few clouds
5,5,Tutoia,-2.7619,-42.2744,79.99,80,93,14.34,BR,2021-01-14 23:46:56,overcast clouds
6,6,Vao,-22.6667,167.4833,76.86,92,100,11.14,NC,2021-01-14 23:46:56,overcast clouds
12,12,Lorengau,-2.0226,147.2712,85.28,67,100,9.75,PG,2021-01-14 23:46:56,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
661,661,Cayenne,4.9333,-52.3333,75.20,100,75,5.75,GF,2021-01-14 23:47:50,light rain
663,663,Galesong,-5.3166,119.3661,77.00,100,40,2.30,ID,2021-01-14 23:47:50,moderate rain
673,673,Auki,-8.7676,160.7034,86.31,62,53,2.71,SB,2021-01-14 23:47:51,broken clouds
682,682,La Orilla,17.9833,-102.2333,79.20,67,99,6.06,MX,2021-01-14 23:47:52,overcast clouds
683,683,Isangel,-19.5500,169.2667,78.80,94,90,5.75,VU,2021-01-14 23:47:52,moderate rain

In [7]:
# Make sure there aren't anymore empty rows
clean_cities_df.count()

City_ID        196
City           196
Lat            196
Lng            196
Max Temp       196
Humidity       196
Cloudiness     196
Wind Speed     196
Country        196
Date           196
Description    196
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = clean_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
2,Iquitos,PE,75.20,moderate rain,-3.7481,-73.2472,
3,Atuona,PF,77.43,few clouds,-9.8000,-139.0333,
5,Tutoia,BR,79.99,overcast clouds,-2.7619,-42.2744,
6,Vao,NC,76.86,overcast clouds,-22.6667,167.4833,
12,Lorengau,PG,85.28,overcast clouds,-2.0226,147.2712,
22,Vaini,TO,84.20,few clouds,-21.2000,-175.2000,
23,Rikitea,PF,78.35,broken clouds,-23.1203,-134.9692,
24,Alice Springs,AU,87.80,clear sky,-23.7000,133.8833,
25,Butaritari,KI,81.36,scattered clouds,3.0707,172.7902,
31,Ugoofaaru,MV,81.01,broken clouds,5.6667,73.0000,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the coordinates to a location key for the params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... Skipping.")

Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.

In [10]:
# Print dataframe
hotel_df.head(15)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
2,Iquitos,PE,75.20,moderate rain,-3.7481,-73.2472,Cortez Malaga Techy Caroly
3,Atuona,PF,77.43,few clouds,-9.8000,-139.0333,Villa Enata
5,Tutoia,BR,79.99,overcast clouds,-2.7619,-42.2744,Pousada Guará's
6,Vao,NC,76.86,overcast clouds,-22.6667,167.4833,Hotel Kou-Bugny
12,Lorengau,PG,85.28,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
22,Vaini,TO,84.20,few clouds,-21.2000,-175.2000,Keleti Beach Resort
23,Rikitea,PF,78.35,broken clouds,-23.1203,-134.9692,Pension Maro'i
24,Alice Springs,AU,87.80,clear sky,-23.7000,133.8833,Desert Palms Alice Springs
25,Butaritari,KI,81.36,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
31,Ugoofaaru,MV,81.01,broken clouds,5.6667,73.0000,Ungoofaaru Inn
33,Richards Bay,ZA,75.40,broken clouds,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
36,Alugan,PH,80.46,broken clouds,12.2188,125.4808,JM Lodge
39,Padang,ID,76.98,broken clouds,-0.9492,100.3543,Mercure Padang
41,Poum,NC,79.52,light rain,-20.2333,164.0167,Gîte kajeon
42,Sao Joao Da Barra,BR,76.15,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas

In [11]:
hotel_df.count()

City           196
Country        196
Max Temp       196
Description    196
Lat            196
Lng            196
Hotel Name     196
dtype: int64

In [12]:
# 7. Drop the rows where there is no Hotel Name
#new_hotel_df = hotel_df[hotel_df["Hotel Name"].notnull()]
#new_hotel_df.head()

#new_hotel_df = hotel_df.replace(r'^\s+$', np.nan, regex=True)
#new_hotel_df = hotel_df.dropna()

#hotel_df(hotel_df.eq("")).dropna(subset=["Hotel Name"])
#hotel_df

#new_hotel_df = hotel_df.replace(r'^\s+$', np.nan, regex=True).dropna()
#new_hotel_df.head()

#clean_df = hotel_df.dropna(axis="index", how="any")
#clean_df.head(15)

In [13]:
# 8a. Create the CSV file
output_data_file = "WeatherPy_vacation.csv"

#8b. Export the CSV
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature 
#for the city
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))